.container
    ul.bread-crumbs.clearfix
        li.bread-crumbs__item
            a(href="#").bread-crumbs__link Главная
        li.bread-crumbs__item.current
            a(href="#").bread-crumbs__link Акции
    .page-title.actions__tit акции
.actions
    .container
        .row.small-margin
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item.green
                    h3.white.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 строки
                    span.white.actions__text.
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.
                    object
                        a(href="#").btn-white.actions__btn
                            span перейти в каталог платков
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item
                    h3.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 строки
                    span.actions__text.
                        lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    object
                        a(href="#").btn-black.actions__btn
                            span подробнее
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item
                    img(src="img/actions-img-1.jpg").actions__img
                    h3.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 <br>
                        или 3 строки
                    object
                        a(href="#").btn-black.actions__btn
                            span подробнее
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item
                    img(src="img/actions-img-2.jpg").actions__img
                    h3.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 <br>
                        или 3 строки
                    object
                        a(href="#").btn-black.actions__btn
                            span подробнее
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item
                    img(src="img/actions-img-3.jpg").actions__img
                    h3.white.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 строки
                    span.white.actions__text.
                        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.
                    object
                        a(href="#").btn-white.actions__btn
                            span перейти в каталог платков
            .col-md-4.col-sm-6.small-padding
                a(href="#").actions__item.pink
                    h3.white.actions__title.
                        Заголовок Акции <br>
                        можно написать в 2 строки
                    span.white.actions__text.
                        lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                    object
                        a(href="#").btn-white.actions__btn
                            span перейти в каталог платков
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться




