.corp-clients
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Корпоративным клиентам
        span.page-title.corp-clients__title Корпоративным клиентам
        .corp-clients__subtitle
            span.corp-clients__subtitle__text «VENERA» предлагает полный комплекс услуг
            span.corp-clients__subtitle__text.corp-clients__subtitle__text-b &nbsp;по подбору, оформлению и упаковке&nbsp;
            span.corp-clients__subtitle__text аксессуаров Наши платки и аксессуары отлично подойдут для:
        ul.corp-clients__list
            li.corp-clients__list__item Для формирования корпоративного стиля;
            li.corp-clients__list__item Для проведения промо-акций и мероприятий;
            li.corp-clients__list__item Для подарков сотрудникам, партнероам и клиентам;
            li.corp-clients__list__item Для vip-подарков.
        .row.small-margin
            .col-lg-4.small-padding
                .corp-clients__item
                    .corp-clients__item__color.corp-clients__item__color--pink
                        span.corp-clients__item__title Платки и шарфы по индивидуальному заказу.
                        span.corp-clients__item__text По вашему индивидуальному заказу мы выполним изделия в корпоративном цвете, нанесем фирменный знак компании.
                        a(href="#" data-pop="#callback").js-show-pop-up.btn-white.corp-clients__item__btn
                            span узнать сроки и стоимость
                    .corp-clients__item__img
                        img(src="img/blog-img-2.jpg")
                        a(href="#").corp-clients__port
                            span.corp-clients__port__img
                                +icon('ico_photocamera')
                            span.corp-clients__port__text Смотреть примеры работ

            .col-lg-4.small-padding
                .corp-clients__item
                    .corp-clients__item__color.corp-clients__item__color--red
                        span.corp-clients__item__title Готовые аксессуары
                        span.corp-clients__item__text Однотонные или с оригинальным рисунком, на основе которых можно сформировать единый фирменный стиль в одежде.
                        a(href="#" data-pop="#callback").js-show-pop-up.btn-white.corp-clients__item__btn
                            span помочь с подбором
                        a(href="#").corp-clients__item__help.text-underline Выбрать из каталога
                    .corp-clients__item__img
                        img(src="img/about-img-2.jpg")

            .col-lg-4.small-padding
                .corp-clients__item
                    .corp-clients__item__color.corp-clients__item__color--violet
                        span.corp-clients__item__title Нанесение логотипа/надписи
                        span.corp-clients__item__text Технологии нанесения фирменного знака обеспечивают нужный вам эффект. Поможем подобрать оптимальный вариант печати.
                        a(href="#" data-pop="#callback").js-show-pop-up.btn-white.corp-clients__item__btn
                            span подробнее об услуге
                    .corp-clients__item__img
                        img(src="img/clients-img.jpg")
                        a(href="#").corp-clients__port
                            span.corp-clients__port__img
                                +icon('ico_photocamera')
                            span.corp-clients__port__text Смотреть примеры работ
        .corp-clients__pack.clearfix
            .present-wrap__left-icon
                +icon ('ico_present')
            .corp-clients__pack__info
                span.corp-clients__pack__title Подарочная упаковка
                span.corp-clients__pack__text Оригинальная упаковка от «VENERA» дополнит выбранный аксессуар, создаст необходимый образ. Это может быть коробка, конверт, шкатулка, тубус, как с нанесением логотипа Вашей компании, так и с оформлением дизайнерской бумагой.

        .corp-clients__info.clearfix
            .corp-clients__info__block
                .corp-clients__info__title условия заказа
                .corp-clients__info__item
                    span.corp-clients__info__subtitle Объемы:
                    span.corp-clients__info__text Любой размер заказа
                .corp-clients__info__item
                    span.corp-clients__info__subtitle Стоимость:
                    span.corp-clients__info__text Различные ценовые категории от экономичных подарков, доступных для бюджета любой компании, до аксессуаров VIP-класса. Скидки на заказы от 5 000 руб
                .corp-clients__info__item
                    span.corp-clients__info__subtitle Сроки:
                    span.corp-clients__info__text Продукция, имеющаяся на складе, поставляется в срок от 1 до 3 дней. Изготовление по индивидуальным макетам (готовым или разработанным нашими специалистами) рассчитывается индивидуально.
                .corp-clients__info__item
                    span.corp-clients__info__subtitle Доставка:
                    span.corp-clients__info__text Бесплатно по Москве (до транспортной компании или склада заказчика).
            .corp-clients__info__block.corp-clients__info__block--right
                .corp-clients__info__title контакты
                .corp-clients__info__item
                    span.corp-clients__info__text Узнать стоимость и сроки, оформить заказ Вы можете:
                .corp-clients__info__item
                    ul.corp-clients__list
                        li.corp-clients__list__item по телефону:&nbsp;
                            a(href="tel:+74955087577").corp-clients__info__link +7(495) 508-75-77.
                        li.corp-clients__list__item по email:&nbsp;
                            a(href="mailto:corp@venera-store.ru").corp-clients__info__link corp@venera-store.ru
                        li.corp-clients__list__item в нашем шоу руме в Москве, где представлены моделей платков.
                    span.corp-clients__info__subtitle Адрес:
                    span.corp-clients__info__text Проспект Вернадского, д 32
                .corp-clients__info__item
                    span.corp-clients__info__text Мы с удовольствием поможем Вам с выбором и проконсультируем по всем нюансам сотрудничества.
                a(href="#").btn-black.corp-clients__info__btn
                    span получить консультацию
    .statyi-detail__interesting.corp-clients__interesting
        .container
            .statyi-detail__interesting__title
                span.subtitle__text вам так же может быть
                span.subtitle__text.subtitle--b.subtitle__right-text интересно
            .row.small-margin
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437

    .container
        .corp-clients__section
            h1.corp-clients__section__title заголовок h1
            span.corp-clients__section__text1 Корпоративный стиль - неотъемлемая часть имиджа компании. «Отличайся или умри», - сказал однажды знаменитый американский маркетолог Джек Траут.
            span.corp-clients__section__text2 И этому совету стараются следовать самые успешные коммерческие компании мира. Если ваша организация придерживается знаменитого принципа конкурентной борьбы, то стоит задуматься не только о выгодных предложениях для потребителей, но и о создании уникального корпоративного стиля. Это один из самых простых и эффективных способов подчеркнуть свое отличие от конкурентов. Корпоративный стиль предполагает создание логотипа и выбор цветового решения в оформлении. Все вместе это призвано создать яркий, положительный образ компании в сознании партнеров и клиентов.«VENERA» предлагает свои услуги по изготовлению элементов корпоративного стиля в выбранной вами цветовой гамме, с фирменным логотипом, а также готовые изделия в едином дизайне для всех сотрудников организации.
            .corp-clients__subtitle
                span.corp-clients__subtitle__text Аксессуары
                span.corp-clients__subtitle__text.corp-clients__subtitle__text-b &nbsp;в корпоративном стиле&nbsp;
                span.corp-clients__subtitle__text от компании «VENERA», это:
            ul.corp-clients__list
                li.corp-clients__list__item Возможность выделиться в плотной конкурентной среде;
                li.corp-clients__list__item Дополнительное воздействие на потребителя в ходе рекламной компании;
                li.corp-clients__list__item Способ сформирования корпоративной культуры, возможность подчеркнуть единство сотрудников и приверженность общим целям организации.
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться
