.discounts
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Система скидок
        span.subtitle__text.subtitle--b.discounts__title система скидок
        .discounts__subtitle
            span.discounts__subtitle__text Внимание! Скидки
            span.discounts__subtitle__text.discounts__subtitle__text--red не
            span.discounts__subtitle__text распространяются на стоимость доставки.
.discounts__wrap
    .container
        .row.small-margin
            .col-lg-4.col-md-12.small-padding
                .discounts__block.js-discounts-block.discounts__block.discounts__block--green
                    span.discounts__block__number -10%
                    span.discounts__block__title
                        | скидка
                        span.discounts__block__title.discounts__block__title--modify &#32;зарегистрированным<br>
                        | пользователям
                    ul.discounts__block__list
                        li.discounts__block__item Для получения скидки Вам надо пройти регистрацию на нашем сайте и самостоятельно оформить заказ.
                        li.discounts__block__item Распространяется на все товары магазина, в том числе и на акционные товары и товары со скидками.
                        li.discounts__block__item Скидка не распространяется на заказы,
                    a(href="#").btn-black.discounts__block__btn
                        span Зарегистрироваться и платить меньше
            .col-lg-4.col-md-12.small-padding
                .discounts__block.js-discounts-block.discounts__block--red
                    span.discounts__block__number -10%
                    span.discounts__block__title
                        | скидка на
                        span.discounts__block__title.discounts__block__title--modify.
                            заказы <br>
                            с предопдатой
                    ul.discounts__block__list
                        li.discounts__block__item Если Вы живете в другом регионе и доставка к Вам возможна только после 100% оплаты заказа почтовыми службами, мы предоставляем Вам эту скидку.
                        li.discounts__block__item Скидка зарегистрированным покупателям и скидка на заказ с предоплатой суммируются, т.е. если Вы оформили заказ с доставкой Почтой России или Почтой EMS,  то Ваша скидка будет составлять 20% от стоимости.
            .col-lg-4.col-md-12.small-padding
                .discounts__block.js-discounts-block.discounts__block--purple
                    span.discounts__block__number %
                    span.discounts__block__title.discounts__block__title--modify индивидуальные <br>
                    span.discounts__block__title скидки
                    ul.discounts__block__list
                        li.discounts__block__item Интернет-магазин оставляет за собой право дарить индивидуальные скидки покупателям.
                        li.discounts__block__item Если Ваш заказ предназначается для коллективных подарков или для корпоративного использования и количество однотипного товара в заказе не менее 10 единиц, то мы готовы предоставить Вам дополнительную скидку!
            .col-md-12.small-padding
                .discounts__block.discounts__block--violet
                    span.discounts__block__number 50%
                    span.discounts__block__title программа
                    span.discounts__block__title.discounts__block__title--modify &#32;"совместная покупка"&#32;
                    span.discounts__block__title Для организаторов совместных покупок
                    span.discounts__block__text.discounts__block__text--bold Для кого?
                    span.discounts__block__text Для организаторов совместных покупок и покупателей, не являющихся индивидуальными предпринимателями.
                    span.discounts__block__text.discounts__block__text--bold Условия совместной покупки:
                    ul.discounts__block__list.discounts__block__list--small
                        li.discounts__block__item Минимальная сумма заказа - 5.000 рублей (в оптовых ценах). (Для справки – разница с розничными ценами – до 50%.)
                        li.discounts__block__item Цены действительны на момент оформления заказа на сайте.
                        li.discounts__block__item После оформления заказа наш менеджер собирает заказ, отправляет Вам счет, который Вы можете оплатить через любой банк.
                        li.discounts__block__item Доставка осуществляется после 100% предоплаты и подтверждения банком поступления денежных средств на расчетный счет  Интернет - магазина.
                        li.discounts__block__item Доставка осуществляется на один адрес (адрес Организатора покупки).
                        li.discounts__block__item Доставка в другие города осуществляется почтой или транспортными компаниями по Вашему выбору.
                        li.discounts__block__item Доставка до ТК по Москве бесплатно, доставка на московский адрес оплачивается в соответствии с действующими тарифами доставки магазина.
                        li.discounts__block__item Данные условия распространяются на весь ассортимент, включая товар со скидками.
                    span.discounts__block__text.discounts__block__text--bold Как получить скидку?
                    .clearfix
                        .discounts__inset
                            span.discounts__inset__number 1
                            span.discounts__inset__text.
                                Войдите в личный кабинет на сайте, или пройдите регистрацию, если еще не являетесь нашим постоянным покупателем.

                            ul.footer__enter-wrap.clearfix.discounts__inset__links
                                li.footer__enter-wrap-item
                                    a(href="#").footer__enter-wrap-link.footer__enter-wrap-link--black.
                                        Вход
                                li.footer__enter-wrap-item
                                    a(href="#").footer__enter-wrap-link.
                                        Регистрация


                        .discounts__inset
                            span.discounts__inset__number 2
                            span.discounts__inset__text.discounts__inset__margin
                                |   В разделе личного кабинета:
                                a(href="#").discounts__inset--underline.discounts__inset--link-black
                                    |   "Совместная покупка"
                                | , заполните и отправте карту партнера.
                            span.discounts__inset__text
                                | Так же Вы можете отправить&#32;
                                a(href="#").discounts__inset__link--grey.discounts__inset--underline
                                    | карту партнера
                                | &#32;на почту
                                a(href="mailto:info@1000platkov.ru.").discounts__inset--link-black
                                    |  info@1000platkov.ru.&#32;
                                | с темой письма «Совместная покупка»
                        .discounts__inset
                            span.discounts__inset__number 3
                            span.discounts__inset__text
                                | В течении 1-2 дней мы откроем Вам доступ к оптовым ценам на сайте, о чем сообщим Вам по почте, а так же уведомлением в личном кабинете в разделе&#32;
                                a(href="#").discounts__inset--link-black.discounts__inset--underline Скидки
                                | &#32;и&#32;
                                a(href="#").discounts__inset--link-black.discounts__inset--underline Совместная покупка
                                |.
.discounts__opt
    .container
        span.discounts__opt__title интересует опт
        span.discounts__opt__text Если Вы являетесь ИП или юридическим лицом, Вы найдете выгодные предложения по опту на нашем сайте по оптовой торговле
        a(href="#").btn-black.discounts__opt__btn
            span перейти на оптовый сайт
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться


