.cart-reg.favorite
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Корзина
        .cart-reg__title
            a(href="cart-opt.html").cart-reg__favorite.favorite__slim ваш заказ (3)
            a(href="favorite-opt.html").cart-reg__order избранное

        .row.small-margin.shop-slider
            .col-sm-6.col-md-6.col-lg-3.small-padding.js-height
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like.active
                                +icon ("ico_like")
                            a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                                +icon ("ico_order")
                            a(href="#" data-pop="#quick-buy").item-block__order.js-show-pop-up
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-1.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span добавить в корзину
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding.js-height
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like.active
                                +icon ("ico_like")
                            a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                                +icon ("ico_order")
                            a(href="#" data-pop="#quick-buy").item-block__order.js-show-pop-up
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-2.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span добавить в корзину
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding.js-height
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like.active
                                +icon ("ico_like")
                            a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                                +icon ("ico_order")
                            a(href="#" data-pop="#quick-buy").item-block__order.js-show-pop-up
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-3.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span добавить в корзину
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding.js-height
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like.active
                                +icon ("ico_like")
                            a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                                +icon ("ico_order")
                            a(href="#" data-pop="#quick-buy").item-block__order.js-show-pop-up
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-4.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span добавить в корзину
                            a(href="#").item-block__cart-quantity В корзине 5 шт.


    .index-subscribe.cart-reg__subscribe
        .container
            span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
            form.index-subscribe__form.js-index-subscribe__form
                input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
                button(type="submit").btn-white.index-subscribe__form__submit
                    span подписаться








