
-  var list = ["Купить в розину", "Оптовым покупателям", "Корпоративным клиентам", "Контакты"]
-  var menulist = ["Женщинам", "Мужчинам", "Детям", "Оборудование", "Подарочная упаковка", "Новинки", "Распродажа", "Бонусная программа"]
header.wrapper.header#header
    .header__top
        a(href="#").header__mobile-menu.js-show-menu
            span

        .container
            ul.header__top-list
                each item in list
                    li.header__top-list-item
                        a(href="#").header__top-link= item
            .header__top-right-wrap
                a(href="#").header__top-work-time.
                    обратная связь
                a(href="#").header__top-phone.
                    +7 (495) 930-9954
            ul.header__top-enter-wrap
                li.header__top-enter-item
                    a(href="#" data-pop="#login").js-show-pop-up.header__top-enter-link.header__top-enter-link--white.
                        Вход
                li.header__top-enter-item
                    a(href="#").header__top-enter-link.
                        Регистрация
                    span.header__top-enter-item-helper.
                        Оптовые цены и покупка доступны
                        только для авторизованных партнеров


    .header__main.header__main--index
        img(src="img/upload/opt-banner.jpg").header__image
        .header__background-fallback(style="background:url(../img/upload/opt-banner.jpg); background-size:cover;")
        .container.header__main-container
            a(href="index.html").header__logo
                +icon ('ico_logo')
            .header__main-wrapper.clearfix
                .header__main-top-wrap.clearfix
                    .row

                        .header__search-wrap.header__search-wrap--index-page

                            form.header__search-form
                                input(type="text").header__search-input.js-header-search
                                button(type="submit").header__search-submit
                                    +icon ('ico_zoom')
                                .header__search-block
                                    span.header__search-block__title Товары
                                    a(href="#").likes-info__item.clearfix
                                        img(src="img/upload/cart-small-1.jpg" alt="cart preview image").likes-info__image
                                        span.likes-info__text
                                            span.likes-info__text-wrapper
                                                span.likes-info__item-name.
                                                    Платок VENERA
                                                span.likes-info__item-art.
                                                    Артикул: <b>3146895444</b>
                                        span.likes-info__buy-status
                                            +icon('buy-status')
                                        span.likes-info__price
                                            span.likes-info__text-wrapper
                                                span.likes-info__current-price.
                                                    1 054 руб.
                                    a(href="#").likes-info__item.clearfix
                                        img(src="img/upload/cart-small-2.jpg" alt="cart preview image").likes-info__image
                                        span.likes-info__text
                                            span.likes-info__text-wrapper
                                                span.likes-info__item-name.
                                                    Платок VENERA
                                                span.likes-info__item-art.
                                                    Артикул: <b>3146895444</b>
                                        span.likes-info__buy-status.active
                                            +icon('buy-status-active')
                                        span.likes-info__price
                                            span.likes-info__text-wrapper
                                                span.likes-info__current-price.
                                                    1 054 руб.
                                    a(href="#").likes-info__item.clearfix
                                        img(src="img/upload/cart-small-3.jpg" alt="cart preview image").likes-info__image
                                        span.likes-info__text
                                            span.likes-info__text-wrapper
                                                span.likes-info__item-name.
                                                    Платок VENERA
                                                span.likes-info__item-art.
                                                    Артикул: <b>3146895444</b>
                                        span.likes-info__buy-status
                                            +icon('buy-status')
                                        span.likes-info__price
                                            span.likes-info__text-wrapper
                                                span.cart-info__current-price.
                                                    1 054 руб.
                                                span.cart-info__old-price.
                                                    1 054 руб.
                                    a(href="#").header__search-block__all-items Все товары
                                    span.header__search-block__subtitle Статьи
                                    a(href="#").header__search-block__text Как подобрать платок
                                    a(href="#").header__search-block__text Как правильно завязывать платок
                                    span.header__search-block__subtitle Акции
                                    a(href="#").header__search-block__text Скидка на шелковые платки 20%

                        .col-lg-12.header__category-wrap.clearfix
                            .header__wholesale-wrap
                                p.
                                    Оптовые продажи аксессуаров <b>от 5000 руб.</b>
                                p.
                                    Доставка <b>по всей России</b> <a href="#">узнать о компании</a>

                //- -  var menulist = ["женщинам"]
                .header__main-bottom-wrap
                    ul.header__menu.active-kat
                        each menuitem in menulist
                            li.header__menu-item.header__menu-item--opt.js-drop-down
                                a(href="#").header__menu-link= menuitem
                                .header__sub-menu-wrapper
                                    .header__sub-menu-left
                                    .header__sub-menu-right
                                    .row
                                        .col-md-4.header__sub-menu-special
                                            .header__sub-menu-special-title.
                                                Специальное предложение
                                            a(href="#").header__sub-menu-special-wrapper
                                                img(src="img/upload/special.jpg" alt="").header__sub-menu-special-img
                                                span.header__sub-menu-special-text.
                                                    Скидка 20 %<br>
                                                    на все головные платки
                                        .col-md-2
                                            a(href="#").header__sub-menu-title Категория товара
                                            ul.header__sub-menu
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                        .col-md-2
                                            a(href="#").header__sub-menu-title Категория товара
                                            ul.header__sub-menu
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                            a(href="#").header__sub-menu-title Категория товара
                                                ul.header__sub-menu
                                                    li.header__sub-menu-item
                                                        a(href="#").header__sub-menu-link Подкатегория товара
                                                    li.header__sub-menu-item
                                                        a(href="#").header__sub-menu-link Подкатегория
                                                    li.header__sub-menu-item
                                                        a(href="#").header__sub-menu-link Подкатегория товара
                                                    li.header__sub-menu-item
                                                        a(href="#").header__sub-menu-link Подкатегория
                                                    li.header__sub-menu-item
                                                        a(href="#").header__sub-menu-link Подкатегория товара

                                        .col-md-2
                                            a(href="#").header__sub-menu-title Категория товара
                                            ul.header__sub-menu
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория
                                                li.header__sub-menu-item
                                                    a(href="#").header__sub-menu-link Подкатегория товара
        .container
            .header__main-opt-wrapper
                p.
                    развивайте
                p.
                    свой бизнес
                p.
                    <b>вместе с нами</b>
        .header__drop-down-helper
    .mobile-menu-wrapper
        .mobile-menu
            ul.mobile-menu__list.mobile-menu__list--mobile
                each menuitem in menulist
                    li.mobile-menu__item
                        a(href="#").mobile-menu__link= menuitem
            ul.mobile-menu__list
                each item in list
                    li.mobile-menu__item
                        a(href="#").mobile-menu__link= item
            ul.mobile-menu__list
                li.mobile-menu__item
                    a(href="#" data-pop="#login").mobile-menu__link.js-show-pop-up.
                        Вход
                li.mobile-menu__item
                    a(href="#").mobile-menu__link.
                        Регистрация
