.container
    .index-shares.index-shares--opt-logined
        .row
            .index-shares__wrap.col-md-6
                a(href="#").index-shares__block.index-shares__big
                    span.content
                        img.index-shares__img(src="img/img_index-shares-1.jpg" alt="")
                        span.index-shares__text.index-shares__recommended рекомендуем
                        .index-shares__recommended-info
                            span.index-shares__recommended-info__title платки картины
                            span.index-shares__recommended-info__text от 250 рублей
            .index-shares__wrap.col-md-6
                a(href="#").index-shares__block.index-shares__small
                    span.content
                        img.index-shares__img(src="img/img_index-shares-2.jpg" alt="")
                        span.index-shares__discount
                            span.index-shares__text.index-shares__discount__text скидка
                            span.index-shares__text.index-shares__discount__number 10%
                            span.index-shares__discount__info
                                | для
                                span зарегистрированых
                                | <br> пользователей
                a(href="#").index-shares__block.index-shares__small
                    span.content
                        img.index-shares__img(src="img/img_index-shares-3.jpg" alt="")
                        span.index-shares__actions
                            span.index-shares__text.index-shares__actions__title головные
                            span.index-shares__text.index-shares__actions__text уборы
                            span.index-shares__actions__info
                                | более
                                span 500 стильных моделей
                                | <br> от 800 рублей
    ul.nav-new.clearfix
        li.nav-new__item
            a(href="#").nav-new__link.nav-new__active НОВИНКИ СЕЗОНА
        li.nav-new__item
            a(href="#").nav-new__link ТОВАРЫ СО СКИДКОЙ %
        li.nav-new__item
            a(href="#").nav-new__link ПОПУЛЯРНЫЕ
    ul.nav-category.clearfix.nav-category-index
        li.nav-category__item.nav-category-index__item
            a(href="#").nav-category__link.nav-category-index__link.nav-category__active все категории
        li.nav-category__item.nav-category-index__item
            a(href="#").nav-category__link.nav-category-index__link шелковые платки
        li.nav-category__item.nav-category-index__item
            a(href="#").nav-category__link.nav-category-index__link ремни для мужчин
        li.nav-category__item.nav-category-index__item
            a(href="#").nav-category__link.nav-category-index__link мужские галстуки
        li.nav-category__item.nav-category-index__item
            a(href="#").nav-category__link.nav-category-index__link палантины женские
    .slider-btns
        .shop-slider__slider-btns
            a(href="#" data-slider="slickPrev").index-shares__slider-btn.js-shop-arrows
                +icon ('ico_left')
            a(href="#" data-slider="slickNext").index-shares__slider-btn.js-shop-arrows
                +icon ('ico_right')
    .row.small-margin.shop-slider
        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height
            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-1.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                            span.item-block__title можно написать в 2 строки
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-2.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                            span.item-block__title можно написать в 2 строки
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-3.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn

                        span.opt-info.
                            В корзине 5 шт.<br>
                            размера xs
                        button(type="submit").btn.item-block__buy
                            span купить еще

                        a(href="#").item-block__cart-quantity В корзине 5 шт.
        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block.item-block__in-cart
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-4.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                            span.item-block__title можно написать в 2 строки
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-5.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                            span.item-block__title можно написать в 2 строки
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block.item-block__in-cart
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-6.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-7.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.

        .col-sm-6.col-md-6.col-lg-3.small-padding.js-height

            .wrap-item-block
                span.item-block
                    span.item-block__img-block
                        span.item-block__like.js-like
                            +icon ("ico_like")
                        a(href="#" data-pop="#quick-view").item-block__order-ico.js-order.js-show-pop-up
                            +icon ("ico_order")
                        a(href="#" data-pop="#quick-view").item-block__order.js-show-pop-up.opt-card-text-wrap
                            span.item-block__order__text.opt-card-text быстрый просмотр
                        a(href="#").item-block__model
                            span.item-block__model__text Артикул: 3146895444
                            span.item-block__model__text Размер: (см) 140х140
                            span.item-block__model__text Состав: 100% п/эстер
                        a(href="#")
                            img(src="img/index-item-8.jpg" alt="").item-block__img-block__img
                    a(href="#").item-block__info
                        span.item-block__title-wrap
                            span.item-block__title Платок VENERA
                            span.item-block__title можно написать в 2 строки
                form.item-block__form
                    span.item-block__price 810 руб.
                    input(type="text" value="1").item-block__input
                    span.item-block__quantity шт
                    .wrap-btn
                        button(type="submit").btn.item-block__buy
                            span купить
                        a(href="#").item-block__cart-quantity В корзине 5 шт.
.index-blog
    .container
        .row.small-margin
            .col-xl-4.col-lg-12.small-padding
                .index-blog__block
                    span.index-blog__title блог
                    .index-blog__block__info
                        span.index-blog__block__text.index-blog__block--text-b.
                            яркие образы<br>
                            и стильные решения<br>
                        span.index-blog__block__text.index-blog__block--text-t.
                            в нашем блоге,<br>
                            а так же в группах<br>
                            в социальных сетях.
                    span.index-blog__block__connect присоединяйтесь:
                    .soc-icons.clearfix
                        a(href="#").soc-icons__icon.soc-icons__icon--vk
                            +icon ("soc-vk")
                        a(href="#").soc-icons__icon.soc-icons__icon--fb
                            +icon ("soc-fb")
                        a(href="#").soc-icons__icon.soc-icons__icon--inst
                            +icon ("soc-inst")
                .index-video
                    img(src="img/index-video.jpg" alt="")
                    span.index-video__play.js-play-video
                        +icon ("ico_video-circle")
                        +icon ("ico_video-play")
            .col-xl-4.col-lg-6.col-md-6.small-padding
                .index-blog__item
                    a(href="#").index-blog__item__img
                        img(src="img/blog-img-1.jpg" alt="")
                        .index-blog__item__img__text.index-blog__item__img--date 12.04
                        .index-blog__item__img__text.index-blog__item__img--year 2016
                    .index-blog__item__info
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-xl-4.col-lg-6.col-md-6.small-padding
                .index-blog__item
                    a(href="#").index-blog__item__img
                        img(src="img/blog-img-2.jpg" alt="")
                        .index-blog__item__img__text.index-blog__item__img--date 12.04
                        .index-blog__item__img__text.index-blog__item__img--year 2016
                    .index-blog__item__info
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2 строки, можно написать в 3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis...
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
.magaz-info
    .container
        h1.magaz-info__title ОПТОВЫЙ ИНТЕРНЕТ-МАГАЗИН
            span.magaz-info__name OPT.VENERA-STORE.RU
        p.text.
            Стильный образ складывается из мелочей. Компания Venera занимается оптовой продажей женских аксессуаров. Модные товары пользуются высоким спросом и гарантированно обеспечат вашей торговой точке стабильную прибыль. В электронном каталоге — только популярные модели от проверенных производителей. Для удобства поиска создано несколько разделов, также есть система сортировки и быстрого подбора по определенным параметрам.
        p.text.
            Заказать женские аксессуары можно по телефону, факсу, электронной почте, на сайте. Вы также можете посетить торговый зал. Выбирайте выгодное и надежное сотрудничество с компанией, имеющей большой опыт работы в данной сфере. Зарегистрируйтесь в личном кабинете партнера, чтобы видеть оптовые цены на сайте,
        .magaz-info__enter-wrap.text-center
            ul.footer__enter-wrap.clearfix.register-enter-btns
                li.footer__enter-wrap-item
                    a(href="#").footer__enter-wrap-link.footer__enter-wrap-link--black.
                        Вход
                li.footer__enter-wrap-item
                    a(href="#").footer__enter-wrap-link.
                        Регистрация
    .container
        .main-category
            .row
                .index-shares__wrap.col-md-6
                    a(href="#").index-shares__block.index-shares__big
                        span.content
                            img.index-shares__img(src="img/upload/category-1.jpg" alt="")
                            span.main-category__name.main-category__name--big женщинам

                .index-shares__wrap.col-md-6
                    a(href="#").index-shares__block.index-shares__small
                        span.content
                            img.index-shares__img(src="img/upload/category-2.jpg" alt="")
                            span.main-category__name.main-category__name--male мужчинам
                    a(href="#").index-shares__block.index-shares__small
                        span.content
                            img.index-shares__img(src="img/upload/category-3.jpg" alt="")
                            span.main-category__name.main-category__name--child детям

.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться
.video-popup
    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/0wCC3aLXdOw" frameborder="0" allowfullscreen)
    span.close-btn.js-close-video-popup
        +icon ("ico_close")
.overlay.js-video-overlay
