.ordering
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Контакты
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Оформление заказа
        span.stores__title оформление заказа

        .row
            .col-md-6
                .ordering__block.js-height
                    .clearfix
                        span.ordering__text-b Вы можете оформить заказ&nbsp;
                        span.ordering__text на нашем сайте без регистрации и скидки

                    a(href="#").btn-black.ordering__btn
                        span оформить без регистрации
            .col-md-6
                .ordering__block.js-height
                    .clearfix
                        span.ordering__text чтобы&nbsp;
                        span.ordering__text-b получить скидку 10%&nbsp;
                        br
                        span.ordering__text на заказ

                    a(href="#").btn-black.ordering__btn
                        span авторизируйтесь
                    span.ordering__text-small.ordering__dec или
                    a(href="#").ordering__text-small.text-underline Зарегистрируйтесь

.index-subscribe.ordering__subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться

