.processed
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Корзина
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Оформление заказа
        .processed__title
            span.subtitle__text ваш заказ
            span.subtitle__text.subtitle--b.subtitle__right-text оформлен
        span.processed__text.
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
        span.subtitle__text.processed__subtitle рекомендуем:
        .slider-btns
            .shop-slider__slider-btns
                a(href="#" data-slider="slickPrev").index-shares__slider-btn.js-shop-arrows
                    +icon ('ico_left')
                a(href="#" data-slider="slickNext").index-shares__slider-btn.js-shop-arrows
                    +icon ('ico_right')
        .row.small-margin.shop-slider
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount10 10%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-5.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block.item-block__in-cart
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount20 20%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-6.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-7.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount30 30%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-8.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
.index-subscribe.processed__subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться