.register.reg-p
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Регистрация партнера
        span.page-title.statyi__title.register__title Регистрация партнера
        .row
            .col-md-6
                span.reg-p__grey Все поля обязательны для заполнения
                form.register__form.js-register-partner-form

                    .reg-p__face.reg-p__item
                        span.stores__number 1.
                        span.stores__subtitle регистрационные данные
                    .purchases__check.clearfix

                        label.clearfix.register__subscribe.purchases__check__block
                            input(type="radio" name="purchases" checked="checked").catalog-sidebar__check-item-input
                            span.catalog-sidebar__check-icon
                            span.catalog-sidebar__check-name Физ. лицо

                        label.clearfix.register__subscribe.purchases__check__block
                            input(type="radio" name="purchases").catalog-sidebar__check-item-input
                            span.catalog-sidebar__check-icon
                            span.catalog-sidebar__check-name Юр. лицо

                    label(for="register__email").contacts__form__label
                        span.contacts__form__text E-mail
                        span.contacts__form__text--grey (будущий логин для входа в личный кабинет)
                        .register__wrap-input
                            input(type="email", name="email").index-subscribe__form__input.register__input#register__email

                    label(for="register__pass").contacts__form__label
                        span.contacts__form__text Пароль
                        span.contacts__form__text--grey (должен содержать не менее 6 символов)
                        .register__wrap-input
                            input(type="password", name="pass").index-subscribe__form__input.register__input#register__pass
                            span.register__ico.js-pass-input
                                +icon("ico-pass-true").ico-true
                                +icon("ico-pass-false").ico-false
                    label(for="register__r_pass").contacts__form__label
                        span.contacts__form__text Повторите пароль
                        .register__wrap-input
                            input(type="password", name="r_pass").index-subscribe__form__input.register__input#register__r_pass
                            span.register__ico.js-pass-input
                                +icon("ico-pass-true")
                                +icon("ico-pass-false")

                    .reg-p__item.reg-p__conts
                        span.stores__number 2.
                        span.stores__subtitle контактные данные

                    label(for="cont__face").requisites__label
                        span.requisites__form__title Контактное лицо
                        .register__wrap-input
                            input(type="text" name="cont__face").index-subscribe__form__input.requisites__input#cont__face

                    span.requisites__form__title Название организации
                    .register__wrap-input.form-select.clearfix.requisites__select
                        select(name="org__select").cart-reg__item__size__select.js-cart-select
                            option(value="org-1") ООО
                            option(value="org-2") ОАО
                            option(value="org-3") ЗАО

                        input(type="text" name="org_name").index-subscribe__form__input.requisites__org.requisites__input#org_name

                    label(for="pur__tel").purchases__label
                        span.contacts__form__text.stores__name.purchases__name Телефон
                        .register__wrap-input
                            input(type="phone", name="tel", placeholder="+7 (___) ___ __ __").purchases__input#pur__tel

                    label(for="yur__adress").requisites__label
                        span.requisites__form__title Юридический адрес организации
                        .register__wrap-input
                            input(type="text" name="yur__adres").index-subscribe__form__input.requisites__input#yur__adress

                    label.clearfix.register__subscribe
                        input(type="checkbox" name="success").catalog-sidebar__check-item-input
                        span.catalog-sidebar__check-icon
                        span.catalog-sidebar__check-name.
                            Согласен получать информацию о скидках и новостях магазина на email

                    button(type="submit").btn-black.register__btn
                        span подтвердить регистрацию
                    span.register__text-grey.register__submit-text
                        | Нажимая на кнопку «Подтвердить», я соглашаюсь с условиями&nbsp;
                        a(href="#").register__text-grey.text-underline
                            | Публичной оферты.

            .col-md-6
                .register__info
                    span.register__info__title Преимущества регистрации
                    ul.discounts__block__list.discounts__block__list--small
                        li.discounts__block__item Экономьте время на оформление заказа, заполнив данные в личном кабинете
                        li.discounts__block__item Управляйте подпиской
                    span.register__info__title.
                        Просим указывать корректные <br>
                        личные данные
                    p.register__text Необходимо указывать актуальный адрес электронной почты для отправки подтверждения о регистрации.
                    p.register__text Гарантируем, что персональные данные, указанные при регистрации не будут переданы третьим лицам.
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться
