.start
    .container.clearfix
        .start__block

            a(href="index.html").start__mb Главная

            h2 Личный кабинет
            a(href="profile.html") ЛК - Личные данные
            a(href="adress.html") ЛК - Адреса доставки
            a(href="history.html") ЛК - История заказов
            a(href="purchases.html") ЛК - Совместные покупки
            a(href="subs.html") ЛК - Подписка
            a(href="lk-discounts.html").start__mb ЛК - Скидки

            h2 ОПТ
            a(href="index_opt.html") Главная ОПТ
            a(href="index_opt-reg.html") Главная ОПТ Зарегистрированый
            a(href="register-partner.html") Регистрация партнера
            a(href="history-opt.html") История заказов ОПТ
            a(href="cart-opt.html") Корзина ОПТ
            a(href="category_opt.html") Категории ОПТ
            a(href="favorite-opt.html") Избранное ОПТ
            a(href="requisites.html") Реквизиты компании
            a(href="women_opt.html") Женский каталог ОПТ

        .start__block

            h2 Страницы
            a(href="register.html") Регистрация
            a(href="pass-recovery.html").start__mb Восстановление пароля

            a(href="category.html") Категории
            a(href="favorite.html") Избранное
            a(href="item-detail.html").start__mb Деталка

            a(href="cart-noreg.html") Корзина
            a(href="cart-reg.html").start__mb Корзина Зарегистрированый

            a(href="stores-noreg.html") Оформление заказа
            a(href="stores-reg.html") Оформление заказа Зарегистрированый
            a(href="ordering.html") Оформление заказа (2)
            a(href="processed.html").start__mb Заказ оформлен

            a(href="action.html") Акция
            a(href="actions.html").start__mb Акции

            a(href="statyi.html") Статьи
            a(href="statyi-detail.html").start__mb Статья

            a(href="search.html") Поиск
            a(href="search-noresult.html").start__mb  Поиск: без результатов

            a(href="delivery.html") Доставка
            a(href="return.html") Обмен и возврат
            a(href="howtobuy.html") Как купить
            a(href="contacts.html") Контакты
            a(href="corp-clients.html") Корпоративным клиентам
            a(href="about.html") Про нас
            a(href="discounts.html") Скидки
            a(href="faq.html") Вопросы
            a(href="sale.html") Распродажа
            a(href="page404.html") Страница 404



