.statyi-detail
    .container
        .statyi-detail__wrap
            a(href="#").btn-black.statyi-detail__btn
                span назад к статьям
            ul.bread-crumbs.clearfix
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__link Главная
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__link Полезные статьи
                li.bread-crumbs__item.current
                    a(href="#").bread-crumbs__link Палантин для невесты
            span.page-title.statyi-detail__title Палантин для невесты
            .index-blog__item__category.statyi-detail__cat
                span.index-blog__item__category__text Категории:&nbsp;
                a(href="#").index-blog__item__category__link Мода
                span.index-blog__item__category__text ,&nbsp;
                a(href="#").index-blog__item__category__link Виды платков
        .statyi-detail__blocks
            .row.small-margin
                .col-lg-4.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__xs-block
                    .statyi-detail__item
                        img(src="img/about-img-2.jpg" alt="")
                        .block-date.statyi-detail__date 18.01
                        .block-year.statyi-detail__year 2017
                .col-lg-4.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__xs-block
                    .statyi-detail__item
                        img(src="img/statyi-1.jpg" alt="")
                .col-lg-4.col-md-12.col-sm-12.col-xs-12.small-padding
                    .statyi-detail__item
                        .row.small-margin.statyi-detail__small
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__small__margin.statyi-detail__xs-block
                                img(src="img/statyi-2.jpg" alt="")
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__small__margin.statyi-detail__xs-block
                                img(src="img/statyi-3.jpg" alt="")
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__xs-block
                                img(src="img/statyi-4.jpg" alt="")
                            .col-lg-6.col-md-6.col-sm-6.col-xs-6.small-padding.statyi-detail__xs-block
                                img(src="img/statyi-5.jpg" alt="")
        .statyi-detail__text-block
            .row
                .col-lg-offset-1.col-lg-10.col-md-12
                    p.statyi-detail__text.
                        Палантины появились в гардеробе модниц благодаря одной бойкой немке, которая была женой князя и приказала сделать ей роскошную накидку из шкурок соболей, чтобы укрываться от ветра и холода. Этот первый палантин появился в 16-м веке, а уже в 21-м обрел вторую жизнь, когда все дизайнеры, будто сговорившись, стали внедрять его в массы. Данный удобный и красивый аксессуар пришелся по душе женщинам разных возрастов еще и потому, что он уместно смотрится с любым гардеробом: свадебный палантин, вечерний, выходной...
                    p.statyi-detail__text.
                        Еще одно преимущество, которое имеет данный аксессуар, заключается в том, что его можно расписывать, словно картину, и в результате представительница прекрасного пола может щеголять в красивом палантине с изображением лебедей, цветов и других элементов. Белый палантин из меха или вязаный палантин белоснежной или кремовой гаммы, одни из самых популярных палантинов, которые приобретают невесты для дня своего бракосочетания. Эта деталь дополняет образ будущей супруги благородством и аристократичностью.
                    p.statyi-detail__text
                        | Палантин для невесты, к слову, их можно приобрести на сайте
                        a(href="http://1000platkov.ru").statyi-detail__text-block__link &nbsp;1000platkov.ru&nbsp;
                        | компании «Venera», которые очень удобны в ношении: они легко снимаются и одеваются, позволяя невесте то и дело красоваться в своем свадебном платье.
                    p.statyi-detail__text.
                        В наши дни красивый палантин для невесты слегка прикрывает декольте и спину девушки, а также не имеет застежки, поэтому следует учесть, что этот предмет гардероба желательно придерживать на уровне груди.
            .statyi-detail__text-block__img
                .row.small-margin
                    .col-lg-3.col-md-3.col-sm-6.col-xs-6.small-padding.statyi-detail__text-block__item-img.statyi-detail__xs-block
                        img(src="img/statyi-2.jpg" alt="")
                    .col-lg-3.col-md-3.col-sm-6.col-xs-6.small-padding.statyi-detail__text-block__item-img.statyi-detail__xs-block
                        img(src="img/statyi-3.jpg" alt="")
                    .col-lg-3.col-md-3.col-sm-6.col-xs-6.small-padding.statyi-detail__text-block__item-img.statyi-detail__xs-block
                        img(src="img/statyi-4.jpg" alt="")
                    .col-lg-3.col-md-3.col-sm-6.col-xs-6.small-padding.statyi-detail__text-block__item-img.statyi-detail__xs-block
                        img(src="img/statyi-5.jpg" alt="")

            .row
                .col-lg-offset-1.col-lg-10
                    p.statyi-detail__text.
                        Белый палантин из меха — замечательное дополнение к свадебному гардеробу, в такой вещи невеста не замерзнет, и будет выглядеть женственно и романтично. Приобрести эти палантины от компании «Venera» можно как из натурального, так и из искусственного меха.
                    span.statyi-detail__text-block__title.
                        Приведем несколько советов, которые помогут выбрать свадебный палантин:
                    ul.statyi-detail__list
                        li.statyi-detail__list__item.
                            Старайтесь покупать и свадебное платье и все аксессуары к нему одновременно, чтобы наряд смотрелся гармонично, и ни один из аксессуаров не перебивал другой;
                        li.statyi-detail__list__item.
                            Цвет накидки должен быть в тон свадебного наряда (белый, кремовый, бежевый), хотя, если хочется выделяться из привычного образа белоснежной невесты, можно приобрести палантин бордового или алого цвета. Или же заказать белый палантин с вышивкой или росписью.
                        li.statyi-detail__list__item.
                            Зачастую невесте для того, чтобы сделать грамотный выбор, нужен совет продавца-консультанта, ведь этот человек обладает полной информацией о том, что сейчас в моде, какие модели лучше будут сидеть на фигуре, скрывая недостатки и подчеркивая достоинства, и может подсказать другие дельные вещи.
                        li.statyi-detail__list__item.
                            К таким специалистам можно отнести сотрудников компании «Venera», которые всегда подберут идеальный свадебный палантин, таким образом, чтобы эта вещь придавала образу своей обладательницы законченность и изюминку.
        .statyi-detail__onsite
            span.subtitle__text.subtitle--b свадебные палантины
            span.subtitle__text.subtitle__right-text на нашем сайте
            a(href="#").btn-black.statyi-detail__onsite__btn
                span перейти в каталог
        .slider-btns
            .shop-slider__slider-btns
                a(href="#" data-slider="slickPrev").index-shares__slider-btn.js-shop-arrows
                    +icon ('ico_left')
                a(href="#" data-slider="slickNext").index-shares__slider-btn.js-shop-arrows
                    +icon ('ico_right')
        .row.small-margin.shop-slider
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount10 10%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-5.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block.item-block__in-cart
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount20 20%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-6.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-7.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
            .col-sm-6.col-md-6.col-lg-3.small-padding
                .wrap-item-block
                    span.item-block
                        span.item-block__img-block
                            span.item-block__like.js-like
                                +icon ("ico_like")
                            span.item-block__discount.item-block__discount30 30%
                            a(href="#").item-block__order-ico.js-order
                                +icon ("ico_order")
                            a(href="#").item-block__order
                                span.item-block__order__text заказать
                                span.item-block__order__text в 1 клик
                            a(href="#").item-block__model
                                span.item-block__model__text Артикул: 3146895444
                                span.item-block__model__text Размер: (см) 140х140
                                span.item-block__model__text Состав: 100% п/эстер
                            a(href="#")
                                img(src="img/index-item-8.jpg" alt="").item-block__img-block__img
                        a(href="#").item-block__info
                            span.item-block__title-wrap
                                span.item-block__title Платок VENERA
                                span.item-block__title можно написать в 2 строки
                    form.item-block__form
                        span.item-block__price 810 руб.
                        input(type="text" value="1").item-block__input
                        span.item-block__quantity шт
                        .wrap-btn
                            button(type="submit").btn.item-block__buy
                                span купить
                            a(href="#").item-block__cart-quantity В корзине 5 шт.
        .statyi-detail__navigation.clearfix
            .statyi-detail__navigation__left
                a(href="#").statyi-detail__navigation__btn название статьи можно написать в 2 строки
                    span
                        +icon("ico_left")
            .statyi-detail__navigation__right
                a(href="#").statyi-detail__navigation__btn название статьи можно написать в 2 строки
                    span
                        +icon("ico_right")
            .index-blog__item__share.statyi-detail__share
                span.index-blog__item__share__text Поделиться:
                .share-icons.clearfix
                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                        +icon ("soc-vk")
                        span.share-icons__text.share-icons__text--vk 954
                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                        +icon ("soc-fb")
                        span.share-icons__text.share-icons__text--fb 426
                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                        +icon ("soc-ok")
                        span.share-icons__text.share-icons__text--ok 437
    .statyi-detail__interesting
        .container
            .statyi-detail__interesting__title
                span.subtitle__text вам так же может быть
                span.subtitle__text.subtitle--b.subtitle__right-text интересно
            .row.small-margin
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437
                .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                    .statyi__item
                        a(href="#").statyi__item__img
                            .block-date.statyi__date 18.01
                            .block-year.statyi__year 2017
                        .statyi__block
                            a(href="#").index-blog__item__title.statyi-detail__interesting__block-title.
                                Заголовок, название публикации, можно написать в 2-3 строки
                            a(href="#").index-blog__item__text.
                                This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                            .index-blog__item__category
                                span.index-blog__item__category__text Категории:&nbsp;
                                a(href="#").index-blog__item__category__link Мода
                                span.index-blog__item__category__text ,&nbsp;
                                a(href="#").index-blog__item__category__link Виды платков
                            .index-blog__item__share
                                span.index-blog__item__share__text Поделиться:
                                .share-icons.clearfix
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                        +icon ("soc-vk")
                                        span.share-icons__text.share-icons__text--vk 954
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                        +icon ("soc-fb")
                                        span.share-icons__text.share-icons__text--fb 426
                                    a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                        +icon ("soc-ok")
                                        span.share-icons__text.share-icons__text--ok 437
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться