.statyi
    .container
        ul.bread-crumbs.clearfix
            li.bread-crumbs__item
                a(href="#").bread-crumbs__link Главная
            li.bread-crumbs__item.current
                a(href="#").bread-crumbs__link Полезные статьи
        span.page-title.statyi__title полезные статьи
        ul.nav-category.clearfix.statyi__list
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link.nav-category__active все публикации
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link видео(2)
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link материалы
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link виды платков
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link выбор аксессуаров
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link уход
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link как завязать платок
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link платки venera
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link головные уборы
            li.nav-category__item.statyi__list-item
                a(href="#").nav-category__link мода
.statyi__wrap
    .container
        .row.small-margin.js-mas-wrap
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        img(src="img/index-video.jpg" alt="")
                        span.index-video__play.js-play-video
                            +icon ("ico_video-circle")
                            +icon ("ico_video-play")
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        img(src="img/blog-img-1.jpg" alt="")
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        img(src="img/blog-img-2.jpg" alt="")
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
            .col-lg-4.col-md-6.col-sm-12.small-padding.js-mas-item
                .statyi__item
                    a(href="#").statyi__item__img
                        img(src="img/about-img-2.jpg" alt="")
                        .block-date.statyi__date 18.01
                        .block-year.statyi__year 2017
                    .statyi__block
                        a(href="#").index-blog__item__title.
                            Заголовок, название публикации, можно написать в 2-3 строки
                        a(href="#").index-blog__item__text.
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit.
                        .index-blog__item__category
                            span.index-blog__item__category__text Категории:&nbsp;
                            a(href="#").index-blog__item__category__link Мода
                            span.index-blog__item__category__text ,&nbsp;
                            a(href="#").index-blog__item__category__link Виды платков
                        .index-blog__item__share
                            span.index-blog__item__share__text Поделиться:
                            .share-icons.clearfix
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--vk
                                    +icon ("soc-vk")
                                    span.share-icons__text.share-icons__text--vk 954
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--fb
                                    +icon ("soc-fb")
                                    span.share-icons__text.share-icons__text--fb 426
                                a(href="#").clearfix.share-icons__icon.share-icons__icon--ok
                                    +icon ("soc-ok")
                                    span.share-icons__text.share-icons__text--ok 437
        .pagination.statyi__wrap__pagination
            a(href="#").btn-black.statyi__more
                span загрузить еще
            ul.pagination__list.clearfix
                li.pagination__item.pagination__active
                    a(href="#").pagination__link 1
                li.pagination__item
                    a(href="#").pagination__link 2
                li.pagination__item
                    a(href="#").pagination__link 3
                li.pagination__item
                    a(href="#").pagination__link 4
                li.pagination__other
                    span.pagination__link ...
                li.pagination__item.pagination__last
                    a(href="#").pagination__link 67
.index-subscribe
    .container
        span.index-subscribe__text Подпишитесь на рассылку и получайте скидки на покупки!
        form.index-subscribe__form.js-index-subscribe__form
            input(type="email" placeholder="Введите e-mail" name="email").index-subscribe__form__input
            button(type="submit").btn-white.index-subscribe__form__submit
                span подписаться
.video-popup
    iframe(width="100%" height="100%" src="https://www.youtube.com/embed/0wCC3aLXdOw" frameborder="0" allowfullscreen)
    span.close-btn.js-close-video-popup
        +icon ("ico_close")
.overlay.js-video-overlay