.discounts {
  &__title {
    display: block;
    text-align: center;
    margin: 37px 0 39px;
    letter-spacing: 1.6px;
  }
  &__subtitle {
    text-align: center;
    margin: 10px 0 52px;
    &__text {
      display: inline-block;
      font-family: $bignooble;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: $bro;
      letter-spacing: .8px;
      &--red {
        margin: 0 5px;
        color: #000;
      }
    }
  }
  &__wrap {
    background-color: #f2f2f2;
    padding: 0 0 83px;
    @media (max-width: $screen-sm-max) {
      padding: 1px 0 83px;
    }
  }
  &__block {
    position: relative;
    margin-top: 85px;
    padding: 60px 27px 70px 30px;
    background-color: #fff;
    &__number {
      display: block;
      position: absolute;
      width: 70px;
      height: 70px;
      text-align: center;
      color: #fff;
      font-family: $avantdemi;
      font-size: 22px;
      line-height: 30px;
      left: 0;
      top: -70px;
      padding-top: 20px;
      letter-spacing: .7px;
    }
    &--green {
      .discounts__block__number {
        background-color: $bro;
      }
      .discounts__block__title--modify {
        color: $bro;
      }
    }
    &--red {
      .discounts__block__number {
        background-color: $bro;
      }
      .discounts__block__title--modify {
        color: $bro;
      }
    }
    &--purple {
      .discounts__block__number {
        background-color: $bro;
      }
      .discounts__block__title--modify {
        color: $bro;
      }
    }
    &--violet{
      .discounts__block__number {
        padding-top: 30px;
        background-color: $bro;
        &:after {
          content: 'до';
          position: absolute;
          text-align: center;
          color: #fff;
          font-family: $avantdemi;
          font-size: 14px;
          width: 100%;
          left: 0;
          top: 3px;
        }
      }
      .discounts__block__title--modify {
        color: $bro;
      }
    }
    &__title {
      font-family: $bignooble;
      font-size: 30px;
      line-height: 40px;
      color: #000;
      letter-spacing: 2px;
    }
    &__list {
      list-style: none;
      margin-top: 21px;
      &--small {
        margin-top: 25px;
        li {
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
    &__item {
      display: block;
      position: relative;
      font-family: $avantbook;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .77px;
      &:after {
        content: '•';
        position: absolute;
        font-family: $avantbook;
        font-size: 14px;
        line-height: 24px;
        left: -22px;
        top: 1px;
      }
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    &__btn {
      padding: 13px 20px;
      margin-top: 14px;
      span {
        letter-spacing: .84px;
        @media (max-width: 1270px) {
          letter-spacing: .5px;
        }
      }
    }
    &__text {
      display: block;
      margin-top: 23px;
      letter-spacing: .77px;
      font-family: $avantbook;
      font-size: 14px;
      line-height: 24px;
      color: #000;
      &--bold {
        font-family: $avantdemi;
      }
    }
  }
  &__inset {
    position: relative;
    float: left;
    width: 335px;
    padding: 49px 0 0 43px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      padding: 45px 0 0 38px;
      float: none;
    }
    &:not(:last-child) {
      margin-right: 84px;
      @media (max-width: $screen-xs-max) {
        margin-right: 0;
      }
    }
    &__number {
      position: absolute;
      left: 1px;
      top: 21px;
      font-family: $bignooble;
      font-size: 70px;
      color: #000;
    }
    &__text {
      display: inline-block;
      font-family: $avantbook;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .77px;
      color: #000;
    }
    &__links {
      margin: 28px 0 0 1px;
      float: none;
    }
    &--underline {
      text-decoration: underline;
      color: $bro;
    }
    &--link-black {
      color: $bro;
    }
    &__margin {
      margin-bottom: 24px;
    }
  }
  &__opt {
    padding: 51px 0 55px;
    background-color: rgba(184,159,134,.7);
    text-align: center;
    &__title {
      display: inline-block;
      position: relative;
      margin: 14px 0 0 104px;
      letter-spacing: 1.6px;
      font-family: $bignooble;
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      vertical-align: top;
      @media (max-width: 1270px) {
        margin: 14px 0 0 30px;
      }
      @media (max-width: $screen-md-max) {
        margin: 14px 24px 20px 0;
        text-align: center;
      }
      &:after {
        content: '?';
        position: absolute;
        right: -39px;
        top: -23px;
        font-family: $bignooble;
        font-size: 70px;
        color: #fff;
      }
    }
    &__text {
      margin: 8px 0 0 98px;
      letter-spacing: .77px;
      display: inline-block;
      font-family: $avantbook;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      max-width: 550px;
      vertical-align: top;
      @media (max-width: 1270px) {
        margin: 8px 0 0 60px;
        max-width: 600px;
      }
      @media (max-width: $screen-md-max) {
        margin: 0;
        text-align: center;
        max-width: none;
      }
    }
    &__btn {
      margin: -3px 0 0 15px;
      vertical-align: top;
      span {
        letter-spacing: 1px;
      }
      @media (max-width: 1270px) {
        display: block;
        margin: 0 auto;
        width: 230px;
        margin-top: 15px;
      }
    }
  }
}