html {
    font-family: $avantbook;

    &.hidden {
        overflow: hidden;
    }
}

.page-wrapper {
    &.hidden {
        overflow-y: scroll;
    }

    &.scroll {
        overflow-y: scroll;
    }
}

.small-padding {
    padding: 0 7.5px;
    @media (max-width: $screen-xs-max) {
        padding: 0 15px;
    }
}

.small-margin {
    margin-left: -7.5px;
    margin-right: -7.5px;
    @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.wrap-btn {
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
    font-family: $avantbook;
    line-height: (24/14);
    margin-bottom: 24px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 13px 31px;
    background-color: #000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        position: relative;
        display: inline-block;
        font-family: $bignooble;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.55px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        line-height: 24px;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 0;
            opacity: 0;
            background-color: #000;
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
            width: 100%;
            height: 6px;
        }
    }

    &:hover {
        background-color: transparent;

        span {
            color: #000;

            &:after {
                opacity: 1;
            }
        }
    }

    &:active {
        background-color: #000;

        span {
            color: #fff;

            &:after {
                opacity: 1;
                background-color: #fff;
            }
        }
    }
}

.btn-black {
    position: relative;
    display: inline-block;
    padding: 13px 31px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        position: relative;
        display: inline-block;
        font-family: $bignooble;
        font-size: 18px;
        color: #000;
        text-decoration: none;
        letter-spacing: 0.7px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        line-height: 24px;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 0;
            opacity: 1;
            background-color: #000;
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
            width: 100%;
            height: 6px;
        }
    }

    &:hover {
        background-color: #000;

        span {
            color: #fff;

            &:after {
                opacity: 0;
            }
        }
    }

    &:active {
        background-color: #000;

        span {
            color: #fff;

            &:after {
                opacity: 1;
                background-color: #fff;
            }
        }
    }
}

.btn-white {
    position: relative;
    display: inline-block;
    padding: 13px 31px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        position: relative;
        display: inline-block;
        font-family: $bignooble;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.7px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        line-height: 24px;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 0;
            opacity: 1;
            background-color: #fff;
            -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
            width: 100%;
            height: 6px;
        }
    }

    &:hover {
        background-color: #fff;

        span {
            color: #000;

            &:after {
                opacity: 0;
            }
        }
    }

    &:active {
        background-color: #fff;

        span {
            color: #000;

            &:after {
                opacity: 1;
                background-color: #000;
            }
        }
    }
}

.item-block {
    display: block;
    position: relative;
    text-decoration: none;

    &__bonus-icon {
        width: 70px;
        height: 70px;
        display: block;
        background: rgba(6,174,132,0.8);
        // overflow: hidden;
        position: absolute;
        top: 0;
        right: 7px;
        z-index: 1;

        svg {
            @include position(absolute, 0 0 0 0);
            margin: auto;
            width: 33px;
            height: 31px;
        }
        &:hover{
            .item-block__bonus-helper{
                display: block;
            }
        }
        @media (max-width: $screen-lg-max){
            width: 50px;
            height: 50px;
        }
    }

    &__bonus-helper {

        width: 142px;
        background: #f0f0f0;
        position: absolute;
        display: none;
        text-align: center;
        padding: 15px;
        font-size: 12px;
        color: #848484;
        top: -25px;
        left: 50%;
        transform: translate(-50%,-100%);
        &:before{
            content: '';
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 9px solid #f0f0f0;
            @include position(absolute, null null 0 50%);
            transform: translate(-50%,100%);
        }

        @media (max-width: $screen-sm-max){
            transform: translate(0,-100%);
            left: auto;
            right: 0;
            &:before{
                transform: translate(0,100%);
                left: auto;
                right: 18px;
            }
        }

    }

    &__login {
        text-align: center;
        font-size: 14px;
        color: #98989a;
        margin: 12px 0 25px;
        letter-spacing: 1px;

        a {
            color: #98989a;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__img-block {
        display: block;
        position: relative;
        width: 297px;
        height: 296px;
        @media (max-width: $screen-lg-max) {
            width: 100%;
            height: 100%;
        }

        &__img {
            width: 100%;
            height: auto;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
    }

    &__info {
        display: block;
        // background-color: #fff;
        text-align: center;
        transition: all 0.3s ease;
        padding: 19px 10px 8px;
        @media (max-width: $screen-lg-max) {
            height: 93px;
            padding: 19px 7px 8px;
        }
        @media (max-width: $screen-xs-max) {
            height: 70px;
        }
    }

    &__title-wrap {
        display: table-cell;
        height: 50px;
        width: 285px;
        vertical-align: middle;
        @media (max-width: $screen-xs-max) {
            width: 100%;
            display: block;
        }
    }

    &__title {
        display: inline-block;
        width: 100%;
        font-family: $avantbook;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        letter-spacing: 0.8px;
    }

    &__form {
        text-align: center;
        display: block;
        // background-color: #fff;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        // height: 118px;
        padding-bottom: 14px;
    }

    &__price {
        font-family: $avantdemi;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        letter-spacing: 0.6px;
        display: inline-block;
    }

    &__input {
        width: 40px;
        height: 40px;
        padding: 0 8px;
        font-family: $avantdemi;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        background-color: #eeeeee;
        text-align: center;
        outline: none;
        border: none;
        margin: 0 8px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__quantity {
        font-family: $avantdemi;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        letter-spacing: 0.6px;
    }

    &__buy {
        margin-top: 14px;
    }

    &__like {
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        background-color: #e6005c;
        transform: translateX(-100%);
        text-decoration: none;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 2;
        opacity: 0.8;
        cursor: pointer;
        @media (max-width: $screen-lg-max) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: $screen-md-max) {
            width: 70px;
            height: 70px;
        }
        @media (max-width: $screen-sm-max) {
            transform: translateX(0);
        }

        &:hover {
            opacity: 1;
        }

        svg {
            position: absolute;
            width: 31px;
            height: 30px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            fill: none;
            stroke: #fff;
            stroke-width: 2px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        &.active svg {
            fill: #fff;
        }
    }

    &__order-ico {
        display: block;
        position: absolute;
        left: 70px;
        top: 70px;
        width: 70px;
        height: 70px;
        transform: translateX(230px);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        text-decoration: none;
        background-color: rgba(0,0,0,1);
        z-index: 2;
        @media (max-width: $screen-lg-max) {
            left: 50px;
            top: 50px;
            width: 50px;
            height: 50px;
        }
        @media (max-width: $screen-md-max) {
            left: 70px;
            top: 70px;
            width: 70px;
            height: 70px;
            transform: translateX(300px);
        }
        @media (max-width: $screen-sm-max) {
            transform: translateX(0);
        }
        @media (max-width: $screen-xs-max) {
            top: 0;
            left: 70px;
            right: auto;
        }

        &:hover {
            &+a {
                background-color: rgba(0,0,0,1);
            }
            background-color: rgba(0,0,0,.8);
        }

        svg {
            position: absolute;
            width: 29px;
            height: 29px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            fill: none;
            stroke: #fff;
            stroke-width: 2px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }

    &__order {
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        width: 157px;
        height: 70px;
        transform: translateX(101%);
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        text-decoration: none;
        background-color: rgba(0,0,0,.8);
        z-index: 2;
        padding-top: 14px;

        &:hover {
            background-color: rgba(0,0,0,1);
        }


        &--quick {
            width: 227px;
            padding-left: 44px;
            padding-right: 0;
            padding-top: 25px;

            svg {
                position: absolute;
                width: 29px;
                height: 29px;
                margin: auto;
                top: 50%;
                // bottom: 0;
                left: 21px;
                // right: 0;
                transform: translateY(-50%);
                fill: none;
                stroke: #fff;
                stroke-width: 2px;
                transition: all 0.2s ease;
            }

            .item-block__order__text {
                margin-right: 0;
            }
        }
        @media (max-width: $screen-lg-max) {
            height: 50px;
            top: 50px;
            width: 116px;
            padding: 4px;
        }
        @media (max-width: $screen-md-max) {
            top: 70px;
            width: 198px;
            height: 70px;
            padding-top: 14px;
        }
        @media (max-width: $screen-sm-max) {
            width: 126px;
            transform: translateX(0);
        }
        @media (max-width: $screen-xs-max) {
            width: calc(100% - 140px);
            top: 0;
        }
        &--quick {
            width: 227px;
            padding-left: 44px;
            padding-right: 0;
            padding-top: 25px;

            svg {
                position: absolute;
                width: 29px;
                height: 29px;
                margin: auto;
                top: 50%;
                // bottom: 0;
                left: 21px;
                // right: 0;
                transform: translateY(-50%);
                fill: none;
                stroke: #fff;
                stroke-width: 2px;
                transition: all 0.2s ease;
            }

            .item-block__order__text {
                margin-right: 0;
            }
            @media (max-width: $screen-sm-max){
                width: calc(100% - 70px)
            }
        }

        &__text {
            display: block;
            text-align: center;
            font-family: $bignooble;
            font-size: 18px;
            color: #fff;
            line-height: 22px;
            text-transform: uppercase;
            margin-right: 39px;
            letter-spacing: 0.8px;
            @media (max-width: $screen-xs-max) {
                margin-right: 0;
            }
        }
    }

    &__cart-quantity {
        display: none;
        font-family: $avantbook;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        letter-spacing: 0.7px;
        margin: 36px 0 0;
    }

    &__model {
        position: absolute;
        right: 0;
        top: 140px;
        width: 226px;
        padding: 21px 10px 19px 21px;
        background-color: rgba(255,255,255,.8);
        overflow: hidden;
        transform: translateX(227px);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        z-index: 2;
        text-decoration: none;
        @media (max-width: $screen-lg-max) {
            text-align: center;
            padding: 10px;
            top: 100px;
        }
        @media (max-width: $screen-md-max) {
            top: 140px;
            width: 100%;
            padding: 10px;
            transform: translateX(101%);
            text-align: center;
        }
        @media (max-width: $screen-sm-max) {
            transform: translateX(0);
        }
        @media (max-width: $screen-xs-max) {
            bottom: 0;
            width: 100%;
            padding: 10px;
            top: auto;
        }

        &__text {
            font-family: $avantbook;
            display: block;
            font-size: 12px;
            line-height: 22px;
            color: #000;
            letter-spacing: 0.55px;
            @media (max-width: $screen-md-max) {
                font-size: 14px;
            }
        }
    }

    &__in-cart {
        .item-block__input {
            display: none;
        }

        .item-block__quantity {
            display: none;
        }

        .item-block__price {
            margin-top: 9px;
        }

        .item-block__buy {
            display: none;
        }

        .item-block__cart-quantity {
            display: inline-block;
        }

        .item-block__order-ico {
            display: none;
        }

        .item-block__order {
            display: none;
        }
        //.item-block__like {
        //  transform: translateX(0);
        //  svg {
        //    fill: #fff;
        //  }
        //}
        .item-block__model {
            display: none;
        }

        .item-block__form {
            // background-color: #fff!important;
        }

        .item-block__info {
            // background-color: #fff!important;
        }
    }

    &__discount {
        position: absolute;
        top: 70px;
        left: 0;
        width: 70px;
        height: 70px;
        text-align: center;
        vertical-align: middle;
        font-family: $avantdemi;
        display: block;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        letter-spacing: 1px;
        padding-top: 21px;
        z-index: 2;
        @media (max-width: $screen-lg-max) {
            width: 50px;
            height: 50px;
            top: 50px;
            padding-top: 11px;
            font-size: 20px;
            line-height: 24px;
        }
        @media (max-width: $screen-md-max) {
            top: 70px;
            width: 70px;
            height: 70px;
            padding-top: 21px;
            font-size: 22px;
            line-height: 30px;
        }
    }

    &__discount10 {
        background-color: rgba(6,174,132,.8);
    }

    &__discount20 {
        background-color: rgba(120,1,196,.8);
    }

    &__discount30 {
        background-color: rgba(196,1,177,.8);
    }
}

.wrap-item-block {
    margin-bottom: 15px;
    overflow: hidden;

    &:hover {
        background-color: #f2f2f2;

        .item-block__img-block__img {
            filter: brightness(1.1);
        }
        // .item-block__info {
        //     background-color: #f2f2f2;
        // }
        .item-block__input {
            background-color: #fff;
        }
        // .item-block__form {
        //     background-color: #f2f2f2;
        // }
        .item-block__like {
            transform: translateX(0);
        }

        .item-block__order {
            transform: translateX(0);
        }

        .item-block__order-ico {
            transform: translateX(0);
        }

        .item-block__model {
            transform: translateX(0);
        }
    }
}

.soc-icons {
    display: block;
    @media (max-width: $screen-lg-max) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
    @media (max-width: $screen-xs-max) {
        margin-left: 0;
        position: relative;
        //left: 50%;
        //transform: translateX(-50%);
    }

    &__icon {
        display: block;
        float: left;
        width: 43px;
        height: 43px;

        svg {
            stroke: none;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        &--vk {
            svg {
                fill: #5d83ac;
            }
        }

        &--fb {
            svg {
                fill: #3c5b9a;
            }
        }

        &--inst {
            svg {
                fill: #cab892;
            }
        }

        &--ytube {
            svg {
                fill: #ca2f2c;
            }
        }

        &--ok {
            svg {
                fill: #ee812a;
            }
        }

        &--tw {
            svg {
                fill: #42c8f4;
            }
        }
    }
}

.index-blog {
    background-color: #f2f2f2;
    margin-top: 77px;
    padding: 90px 0;
    @media (max-width: $screen-xs-max) {
        margin-top: 40px;
        padding: 30px 0;
    }

    &__title {
        position: absolute;
        color: #000;
        font-family: $bignooble;
        text-transform: uppercase;
        font-size: 129px;
        left: 1px;
        top: 7px;
        transform-origin: 0 0;
        line-height: 93px;
        transform: rotateZ(-90deg) translate3d(-50%,0px,0);
        letter-spacing: 7px;
        z-index: 3;
        @media (max-width: $screen-xs-max) {
            font-size: 80px;
            letter-spacing: 5px;
            line-height: 80px;
            top: -50px;
            left: 0;
            transform: rotateZ(0) translate3d(0,0,0);
        }
    }

    &__block {
        position: relative;
        padding-left: 73px;
        height: 400px;
        @media (max-width: $screen-lg-max) {
            height: 310px;
        }
        @media (max-width: $screen-xs-max) {
            padding-left: 0;
        }

        &__info {
            background-color: #c401b1;
            overflow: hidden;
            padding: 41px 10px 39px 77px;
            z-index: 2;
            @media (max-width: $screen-xs-max) {
                //text-align: center;
                padding: 30px 20px;
            }
        }

        &__text {
            font-size: 18px;
            color: #fff;
            letter-spacing: 1px;
            line-height: 26px;
            text-transform: uppercase;
        }

        &--text-t {
            font-family: $avantbook;
        }

        &--text-b {
            font-family: $avantdemi;
        }

        &__connect {
            display: inline-block;
            font-family: $bignooble;
            font-size: 18px;
            color: #000;
            letter-spacing: 1.2px;
            margin: 20px 0 20px 2px;
            @media (max-width: $screen-xs-max) {
                width: 100%;
                //text-align: center;
                margin: 20px 0;
            }
        }
    }

    &__item {
        @media (max-width: $screen-sm-max) {
            margin-bottom: 15px;
        }

        &__img {
            position: relative;
            display: block;
            width: 100%;
            height: 400px;
            z-index: 1;
            @media (max-width: $screen-lg-max) {
                width: 448px;
                height: 448px;
            }
            @media (max-width: $screen-lg-max) {
                width: 100%;
                height: auto;
            }

            img {
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                @media (max-width: $screen-lg-max) {
                    width: 100%;
                }
            }

            &__text {
                position: absolute;
                width: 70px;
                height: 70px;
                font-family: $bignooble;
                font-size: 18px;
                text-align: center;
                vertical-align: middle;
                letter-spacing: 0.8px;
                padding-top: 25px;
                bottom: 0;
                z-index: 2;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            &--date {
                background-color: #fff;
                color: #000;
                left: 0;
            }

            &--year {
                background-color: #000;
                color: #fff;
                left: 70px;
            }
        }

        &__info {
            height: 400px;
            background-color: #fff;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            padding: 64px 55px 31px 28px;
            @media (max-width: $screen-md-max) {
                padding: 30px;
                height: 350px;
            }
            @media (max-width: $screen-md-max) {
                padding: 30px;
                height: auto;
            }
        }

        &__title {
            height: 75px;
            text-align: left;
            display: block;
            overflow: hidden;
            font-family: $bignooble;
            font-size: 18px;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 26px;
        }

        &__text {
            height: 72px;
            text-align: left;
            display: block;
            overflow: hidden;
            font-family: $avantbook;
            font-size: 14px;
            color: #000;
            line-height: 24px;
            letter-spacing: 0.75px;
        }

        &__category {
            display: inline-block;
            margin-top: 27px;
            letter-spacing: 0.8px;

            &__text {
                display: inline-block;
                font-family: $avantbook;
                font-size: 12px;
                color: #000;
                @media (max-width: $screen-sm-max) {
                    font-size: 14px;
                }
            }

            &__link {
                display: inline-block;
                font-family: $avantbook;
                font-size: 12px;
                color: #000;
                text-decoration: underline;
                @media (max-width: $screen-sm-max) {
                    font-size: 14px;
                }
            }
        }

        &__share {
            margin-top: 30px;
            padding-bottom: 16px;

            &__text {
                font-family: $avantbook;
                font-size: 12px;
                color: #000;
                letter-spacing: 0.8px;
                margin-bottom: 16px;
                display: inline-block;
                margin-left: -1px;
                @media (max-width: $screen-sm-max) {
                    font-size: 14px;
                }
            }
        }

        &:hover {
            .index-blog__item__img img {
                filter: brightness(1.1);
            }

            .index-blog__item__img--date {
                background-color: #f2f2f2;
            }

            .index-blog__item__info {
                background-color: #f2f2f2;
            }
        }
    }
}

.share-icons {
    display: block;

    &__icon {
        display: inline-block;
        float: left;
        width: auto;
        height: 30px;

        &:not(:last-child) {
            margin-right: 9px;
        }

        svg {
            display: inline-block;
            float: left;
            stroke: none;
            width: 30px;
            height: 100%;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        &--vk {
            svg {
                fill: #5d83ac;
            }
        }

        &--fb {
            svg {
                fill: #3c5b9a;
            }
        }

        &--ok {
            svg {
                fill: #ee812a;
            }
        }
    }

    &__text {
        display: inline-block;
        font-family: $avantbook;
        font-size: 12px;
        color: #fff;
        line-height: 24px;
        letter-spacing: 0.6px;
        width: auto;
        height: 30px;
        text-align: center;
        float: left;
        padding: 3px 8px 0 1px;

        &--vk {
            background-color: #5d83ac;
        }

        &--fb {
            background-color: #3c5b9a;
        }

        &--ok {
            background-color: #ee812a;
        }
    }
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.video-popup {
    position: fixed;
    display: none;
    border: 6px solid #000;
    background-color: #fff;
    padding-top: 70px;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 70.6%;
    height: 80%;
    z-index: 100;
    @media (max-width: $screen-lg-max) {
        width: 800px;
        height: 525px;
    }
    @media (max-width: $screen-md-max) {
        width: 600px;
        height: 415px;
    }
    @media (max-width: $screen-sm-max) {
        width: 100%;
        height: 500px;
    }
    @media (max-width: $screen-xs-max) {
        width: 100%;
        height: 500px;
    }
}

.fancybox-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: #e6005c;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:after {
        content: '';
        position: absolute;
        background: url("../img/svg/ico_close-after.svg") no-repeat center;
        background-size: 100%;
        width: 32px;
        height: 32px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &:hover {
        background-color: #000;
    }
}

.close-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-color: #e6005c;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
        background-color: #000;
    }

    svg {
        position: absolute;
        width: 32px;
        height: 32px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        fill: #fff;
        stroke: #fff;
        stroke-width: 1px;
    }
}

h1 {
    display: block;
    font-family: $avantbook;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: normal;
}

.text {
    font-family: $avantbook;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.text-b {
    font-family: $avantdemi;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.bread-crumbs {
    list-style: none;
    display: block;
    @media (max-width: $screen-xs-max) {
        display: none;
    }

    &__item {
        float: left;
        position: relative;
        @media (max-width: $screen-xs-max) {
            float: none;
            text-align: center;
            margin: 0;
        }

        &:not(:first-of-type) {
            &:before {
                content: '|';
                position: absolute;
                left: -31px;
                top: 0;
                font-family: $avantbook;
                font-size: 14px;
                line-height: 22px;
                color: #000;
                letter-spacing: 0.5px;
                @media (max-width: $screen-xs-max) {
                    display: none;
                }
            }
        }

        &:not(:last-child) {
            margin-right: 56px;
            @media (max-width: $screen-xs-max) {
                margin-right: 0;
            }
        }

        &.current {
            &:before {
                color: #b3b3b3;
            }

            a {
                color: #b3b3b3;
                pointer-events: none;
            }
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        font-family: $avantbook;
        font-size: 14px;
        line-height: 22px;
        color: #000;
        letter-spacing: 0.67px;
        @media (max-width: $screen-xs-max) {
            padding: 3px 0;
        }
    }
}

.nav-category {
    list-style: none;
    text-align: justify;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    @media (max-width: $screen-lg-max) {
        text-align: center;
        &:after {
            display: none;
        }
    }

    &__item {
        display: inline-block;
    }

    &__link {
        display: inline-block;
        letter-spacing: 0.8px;
        font-family: $bignooble;
        font-size: 18px;
        color: #000;
        line-height: 18px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
            color: #b3b3b3;
        }
    }

    &__active {
        color: #b3b3b3;
    }
}

.page-title {
    display: block;
    font-family: $avantdemi;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 1.7px;
    text-align: center;
}

h3 {
    font-family: $bignooble;
    color: #000;
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.white {
    color: #fff!important;
}

.pagination {
    display: block;
    text-align: center;
    margin: 50px 0;

    &__list {
        display: inline-block;
        text-align: center;
        margin-right: 9px;
    }

    &__item {
        text-align: center;
        position: relative;
        display: inline-block;
        float: left;
        width: 35px;
        height: 35px;
        overflow: hidden;
        &:hover {
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 6px;
                background-color: #000;
                left: -1px;
                bottom: -1px;
            }
        }
    }

    &__link {
        display: inline-block;
        font-family: $bignooble;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        letter-spacing: 0.6px;
        padding: 0 4px;
        text-decoration: none;
    }

    &__other {
        text-align: center;
        position: relative;
        display: inline-block;
        float: left;
        width: 35px;
        height: 35px;
        overflow: hidden;
    }

    &__active {
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 6px;
            background-color: #000;
            left: -1px;
            bottom: -1px;
        }
    }

}

.ontop {
    position: absolute;
    z-index: 20;
    width: 70px;
    height: 70px;
    background-color: #c401b1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        background-color: #000;
    }

    svg {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        width: 32px;
        height: 20px;
        margin: auto;
        fill: #fff;
    }
}

.subtitle {
    text-align: center;
    display: block;
    width: 100%;

    &__text {
        display: inline-block;
        font-family: $avantbook;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        @media (max-width: $screen-sm-max) {
            line-height: 1.5em;
        }
    }

    &--b {
        font-family: $avantdemi;
    }

    &__right-text {
        margin-left: 10px;
    }
}

.rating {
    display: block;

    &__ico {
        position: relative;
        display: block;
        width: 19px;
        height: 21px;
        float: left;

        &.rate {
            svg {
                fill: #febf00;
            }
        }

        &:not(:last-child) {
            margin-right: 6px;
        }

        svg {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            fill: #d8d8d8;
            fill-rule: nonzero;
        }
    }
}

.block-date,
.block-year {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    font-family: $bignooble;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.8px;
    padding-top: 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
}

.block-date {
    background-color: #fff;
    color: #000;
}

.block-year {
    background-color: #000;
    color: #fff;
}

.payment {
    &__item {
        position: relative;
        float: left;
        width: 67px;
        height: 42px;

        &:not(:last-child) {
            margin-right: 2px;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            fill: #000;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }

    &--mastercard {
        svg {
            &:hover {
                fill: #ed1b2e;
            }
        }
    }

    &--visa {
        svg {
            &:hover {
                fill: #0057a0;
            }
        }
    }

    &--paypal {
        svg {
            &:hover {
                fill: #1a81b0;
            }
        }
    }
}

.js-mas-item {
    margin-bottom: 15px;
}

.jq-selectbox {
    z-index: 95!important;
}
.hidden-block {
    display: none;
}
.like__info {
    display: block;
    position: absolute;
    right: -210px;
    top: 50%;
    transform: translateY(-50%);
    font-family: $avantbook;
    font-size: 12px;
    padding: 20px 10px;
    background-color: #e6005c;
    text-align: center;
    color: #fff;
    width: 200px;
    &:before {
        content: '';
        position: absolute;
        left: -9px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 9px 7px 0;
        border-color: transparent #e6005c transparent transparent;
    }
}
.jq-selectbox__search {
    input {
        font-family: $avantbook;
    }
}